<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>popup.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{587,529}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{587,529}</string>
			</dict>
			<key>popup2.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,1},{587,529}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{587,529}</string>
			</dict>
			<key>title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,1},{530,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{530,56}</string>
			</dict>
			<key>popup3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,1},{313,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{313,280}</string>
			</dict>
			<key>highscore/5stars_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2039,1},{5,5}}</string>
				<key>offset</key>
				<string>{1,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,290},{14,14}}</string>
				<key>offset</key>
				<string>{1,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2020,167},{25,25}}</string>
				<key>offset</key>
				<string>{0,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,744},{53,43}}</string>
				<key>offset</key>
				<string>{-7,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,690},{62,52}}</string>
				<key>offset</key>
				<string>{-5,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1722,777},{70,60}}</string>
				<key>offset</key>
				<string>{-5,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1784,793},{77,67}}</string>
				<key>offset</key>
				<string>{-7,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1769,1002},{82,71}}</string>
				<key>offset</key>
				<string>{-8,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1693,980},{87,74}}</string>
				<key>offset</key>
				<string>{-9,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,1041},{91,81}}</string>
				<key>offset</key>
				<string>{-8,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1344,1041},{96,83}}</string>
				<key>offset</key>
				<string>{-6,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1238,972},{104,86}}</string>
				<key>offset</key>
				<string>{-5,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,956},{111,89}}</string>
				<key>offset</key>
				<string>{-5,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,891},{117,93}}</string>
				<key>offset</key>
				<string>{-5,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,862},{121,96}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,756},{125,98}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,756},{128,98}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,756},{131,98}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,756},{135,98}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1041,753},{136,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1141,756},{136,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1279,772},{136,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1141,856},{136,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,841},{136,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1279,872},{136,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1555,855},{136,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,941},{136,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1555,955},{136,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1842,1009},{136,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,756},{136,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>highscore/5stars_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,756},{136,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,98}</string>
			</dict>
			<key>blocked/shieldAni_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2020,1},{17,128}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1301,535},{29,128}}</string>
				<key>offset</key>
				<string>{-8,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1751,517},{43,128}}</string>
				<key>offset</key>
				<string>{-15,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1796,533},{56,128}}</string>
				<key>offset</key>
				<string>{-21,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1984,560},{61,128}}</string>
				<key>offset</key>
				<string>{-24,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1790,663},{61,128}}</string>
				<key>offset</key>
				<string>{-24,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1722,647},{66,128}}</string>
				<key>offset</key>
				<string>{-21,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1770,872},{78,128}}</string>
				<key>offset</key>
				<string>{-15,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,862},{93,128}}</string>
				<key>offset</key>
				<string>{-8,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,755},{105,128}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,644},{107,128}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,532},{110,128}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,532},{110,128}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1621,517},{112,128}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,420},{113,128}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,532},{110,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1041,644},{107,128}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1171,647},{107,128}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,753},{107,128}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,644},{109,128}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,532},{110,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,532},{110,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1854,560},{111,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,532},{110,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,532},{110,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,532},{110,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1041,532},{110,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1171,535},{110,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1332,548},{110,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{1462,617},{110,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{1332,660},{110,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{1592,631},{110,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{1462,729},{110,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{1592,743},{110,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00035.png</key>
			<dict>
				<key>frame</key>
				<string>{{1853,673},{110,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{1853,785},{110,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00037.png</key>
			<dict>
				<key>frame</key>
				<string>{{1850,897},{110,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,644},{110,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,644},{110,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,644},{110,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00041.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,644},{110,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,644},{110,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00043.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,644},{110,128}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00044.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,418},{128,148}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00045.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,283},{135,156}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{1858,421},{137,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00047.png</key>
			<dict>
				<key>frame</key>
				<string>{{1858,1},{138,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00048.png</key>
			<dict>
				<key>frame</key>
				<string>{{1858,141},{138,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00049.png</key>
			<dict>
				<key>frame</key>
				<string>{{1858,281},{138,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00050.png</key>
			<dict>
				<key>frame</key>
				<string>{{1494,231},{137,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00051.png</key>
			<dict>
				<key>frame</key>
				<string>{{1655,231},{135,158}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00052.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,283},{133,154}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00053.png</key>
			<dict>
				<key>frame</key>
				<string>{{1493,370},{129,150}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00054.png</key>
			<dict>
				<key>frame</key>
				<string>{{1645,391},{124,144}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00055.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,501},{114,132}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00056.png</key>
			<dict>
				<key>frame</key>
				<string>{{1693,889},{75,89}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00057.png</key>
			<dict>
				<key>frame</key>
				<string>{{1722,849},{38,46}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00058.png</key>
			<dict>
				<key>frame</key>
				<string>{{2020,131},{27,34}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00059.png</key>
			<dict>
				<key>frame</key>
				<string>{{2020,194},{21,28}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00060.png</key>
			<dict>
				<key>frame</key>
				<string>{{2020,224},{17,24}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00061.png</key>
			<dict>
				<key>frame</key>
				<string>{{2020,243},{15,20}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00062.png</key>
			<dict>
				<key>frame</key>
				<string>{{2020,260},{13,18}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>blocked/shieldAni_00063.png</key>
			<dict>
				<key>frame</key>
				<string>{{2020,275},{13,18}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,160}</string>
			</dict>
			<key>gift.png</key>
			<dict>
				<key>frame</key>
				<string>{{1494,1},{228,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,304}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sheet2.png</string>
			<key>realTextureFileName</key>
			<string>sheet2.png</string>
			<key>size</key>
			<string>{2048,1125}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1125</integer>
		</dict>
	</dict>
</plist>